.relatedVideo {
    p {
        font-size: 12px;
        letter-spacing: 0.03rem;
        line-height: 1.2rem;
        font-weight: 500;
        color: #ffffff;
        opacity: 0.6;
        text-align: left;
    }
}