.contactNew {
    .selectedBorder {
        img {
            border: 1px solid rgb(227 204 128)!important;
        }
    }
    padding: 0;
    .cHeading {
        h1 {
            font-size: 65px;
            font-weight: 600;
            padding: 40px 0px 0px 0px;
            letter-spacing: 0.03rem;
        }
        p {
            font-size: 16px;
            font-weight: 600;
            letter-spacing: 0.03rem;
            color: #9f9f9f;
        }
    }
    .studentParent {
        padding-top: 35px;
        p {
            letter-spacing: 0.05rem;
            font-size: 25px;
            opacity: 0.8;
        }
        .student {
            background: rgb(227 204 128);
            color: #000000;
            font-size: 1.4vw;
            font-weight: 600;
            letter-spacing: 0.05rem;
            border: 1px solid rgb(227 204 128);
            padding: 15px 50px;
            border-radius: 10px;
            margin: 0px 10px 0px 0px;
            width: 35%;
            max-width: 100%;
        }
        .parent {
            background: #323644;
            color: #ffffff;
            font-size: 1.4vw;
            font-weight: 600;
            letter-spacing: 0.05rem;
            border: 1px solid #323644;
            padding: 15px 50px;
            border-radius: 10px;
            margin: 0px 10px 0px 0px;
            width: 35%;
            max-width: 100%;
        }
        .student:hover {
            background: rgb(227 204 128);
            color: #000000;
            border: 1px solid rgb(227 204 128)!important;
        }
        .parent:hover {
            background: #323644;
            color: #ffffff;
            border: 1px solid #323644!important;
        }
    }
    .interestIN {
       
        padding-top: 30px;
        .title {
            letter-spacing: 0.05rem;
            font-size: 25px;
            opacity: 0.8;
            margin-bottom: 1rem;
        }
        p {
            margin: 5px;
            //height: 152px;
        }
        input {
            font-size: 20px;
            font-weight: 600;
            letter-spacing: 0.05rem;
            padding: 15px 15px;
            border-radius: 10px;
            margin: 0px 10px 0px 0px;
            width: 100%;
            background: #323644;
            color: #ffffff;
            border: 1px solid #323644;
        }
        select {
            font-size: 20px;
            font-weight: 600;
            letter-spacing: 0.05rem;
            padding: 15px 15px;
            border-radius: 10px;
            margin: 0px 10px 0px 0px;
            width: 100%;
            background: #323644;
            color: #ffffff;
            border: 1px solid #323644;
        }
    }
    .contactDetailsNew {
            .verifyOtp {
                border: 1px solid rgb(227 204 128);
                font-size: 20px;
                font-weight: 600;
                letter-spacing: 0.05rem;
                padding: 15px 15px !important;
                border-radius: 50px;
                margin: 16px 10px 0px 0px;
                width: 100%;
                background: rgb(227 204 128);
                color: #000000;
                border: 1px solid rgb(227 204 128)!important;
            a {
                color:rgb(227 204 128);
            }
            .verifyOtp:active {
                border: 1px solid rgb(227 204 128);
                font-size: 20px;
                font-weight: 600;
                letter-spacing: 0.05rem;
                padding: 15px 15px !important;
                border-radius: 50px;
                margin: 16px 10px 0px 0px;
                width: 100%;
                background: rgb(227 204 128);
                color: #000000;
                border: 1px solid #323644;
            }
            .verifyOtp:focus {
                border: 1px solid rgb(227 204 128);
                font-size: 20px;
                font-weight: 600;
                letter-spacing: 0.05rem;
                padding: 15px 15px !important;
                border-radius: 50px;
                margin: 16px 10px 0px 0px;
                width: 100%;
                background: rgb(227 204 128);
                color: #000000;
                border: 1px solid #323644;
            }
        }
        .verifyOtp:hover {
            border: 1px solid rgb(227 204 128)!important;
            background: rgb(227 204 128)!important;
            color: #000000!important;
        }
        .contactSubmit {
            letter-spacing: 0.03rem;
            font-size: 22px;
            padding: 15px 25px;
            border-radius: 50px;
            background: #ffffff;
            border: 1px solid #ffffff;
            color: #000000;
            font-weight: 600;
            margin: 15px 10px 30px 0px;
            width: 45%;
        }
        .contactSubmit:active {
            letter-spacing: 0.03rem;
            font-size: 22px;
            padding: 15px 25px;
            border-radius: 50px;
            background: #ffffff;
            border: 1px solid #ffffff;
            color: #000000;
            font-weight: 600;
            margin: 15px 10px 30px 0px;
            width: 45%;
        }
        .contactSubmit:focus {
            letter-spacing: 0.03rem;
            font-size: 22px;
            padding: 15px 25px;
            border-radius: 50px;
            background: #ffffff;
            border: 1px solid #ffffff;
            color: #000000;
            font-weight: 600;
            margin: 15px 10px 30px 0px;
            width: 45%;
        }
        .contactSubmit:hover {
            background: #ffffff;
            border: 1px solid #ffffff!important;
            color: #000000;
        }
        .form-control {
            font-size: 20px;
            font-weight: 600;
            letter-spacing: 0.05rem;
            padding: 15px 50px;
            border-radius: 10px;
            margin: 0px 10px 0px 0px;
            width: 94%;
            background: #323644;
            color: #000000;
            border: 1px solid #323644;
        }
    }
}

.verifiedTickMark {
    margin-top: 2%;
    text-align: center;
    font-size: 45px;
    font-weight: 600;
    letter-spacing: 0.04rem;
    color: rgb(227 204 128);
}
.requiredCss {
    border: 2px solid #FF3031 !important;
    background: #FFF1F4 !important;
    border-radius: 15px!important;
    }


@media only screen and (max-width: 480px) and (min-width: 320px) {
    .contactNew {
        padding: 0 3%;
        .studentParent {
            padding-top: 35px;
            p {
                letter-spacing: 0.05rem;
                font-size: 25px;
                opacity: 0.8;
            }
            .student {
                background: rgb(227 204 128);
                color: #000000;
                font-size: 18px;
                font-weight: 600;
                letter-spacing: 0.05rem;
                border: 1px solid rgb(227 204 128);
                padding: 13px 35px;
                border-radius: 10px;
                margin: 0px 10px 0px 0px;
                width: 45%;
                text-align: center;
            }
            .parent {
                background: #323644;
                color: #ffffff;
                font-size: 18px;
                font-weight: 600;
                letter-spacing: 0.05rem;
                border: 1px solid #323644;
                padding: 13px 35px;
                border-radius: 10px;
                margin: 0px 10px 0px 0px;
                width: 45%;
            }
        }
        .interestIN {
            input {
                margin: 15px 10px 0px 0px;
            }
            p {
                margin: 5px;
                height: 113px;
            }
        }
        .contactDetailsNew {
            .verifyOtp {border: 1px solid rgb(227 204 128);
                border: 1px solid rgb(227 204 128);
                font-size: 20px;
                font-weight: 600;
                letter-spacing: 0.05rem;
                padding: 15px 15px !important;
                border-radius: 50px;
                margin: 16px 10px 0px 0px;
                width: 100%;
                background: rgb(227 204 128);
                color: #000000;
                border: 1px solid #323644;
            a {
                color:rgb(227 204 128);
            }
            .verifiedTickMark {
                letter-spacing: 0.04rem;
                margin-top: 10%;
                font-size: 20px;
                color: rgb(227 204 128);
                font-weight: 600;
            }
        }
        .contactSubmit {
            letter-spacing: 0.03rem;
            font-size: 18px;
            padding: 13px 25px;
            border-radius: 50px;
            background: #ffffff;
            border: 1px solid #ffffff;
            color: #000000;
            font-weight: 600;
            margin: 15px 10px 30px 0px;
            width: 45%;
        }
        .form-control {
            font-size: 18px;
            font-weight: 600;
            letter-spacing: 0.05rem;
            padding: 13px 50px;
            border-radius: 10px;
            margin: 0px 10px 0px 0px;
            width: 94%;
            background: #323644;
            color: #000000;
            border: 1px solid #323644;
        }
    }
    }
}

/* Alert Modal Css */
.alertModalSuccess {
    .alertIcon {
        text-align: center;
        padding-top: 20%;
    }
    .alertCloseBtn {
        text-align: center;
        padding-top: 23%;
        p {
            font-size: 24px;
            letter-spacing: 0.05rem;
            color: #abb6bb;
        }
    }
    .alertText {
        h3 {
            font-weight: 600;
            font-size: 32px;
            letter-spacing: 0.05rem;
            color: #495155;
            margin-bottom: 0;
        }
        p {
            font-size: 24px;
            letter-spacing: 0.05rem;
            color: #abb6bb;
            font-weight: 600;
        }
    }
}

.alertModalError {
    .alertIcon {
        text-align: center;
        padding-top: 20%;
    }
    .alertCloseBtn {
        text-align: center;
        padding-top: 23%;
        p {
            font-size: 24px;
            letter-spacing: 0.05rem;
            color: #abb6bb;
        }
    }
    .alertText {
        h3 {
            font-weight: 600;
            font-size: 32px;
            letter-spacing: 0.05rem;
            color: #495155;
            margin-bottom: 0;
        }
        p {
            font-size: 24px;
            letter-spacing: 0.05rem;
            color: #abb6bb;
            font-weight: 600;
        }
    }
}

/*.eventBannerText {
    width: 100%;
}
.eventBannerDetails {
    text-align: center;
    padding: 15% 0%;
    background-image: url('/contact+(2).jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.eventForm {
    padding: 0px 0px;
    width: 900px;
    max-width: 100%;
    margin: auto;
}
.eventBannerText {
    h1 {
        line-height: 1.2;
        letter-spacing: -.02em;
        color: #fff!important;
        font-weight: 500;
        font-size: 3.8125rem;
    }
    h5 {
        font-size: 30px;
        color: #e6a851;
        line-height: 35px;
        font-weight: 600;
    }
    h6 {
        color: #fff;
        opacity: .8;
        font-weight: 400;
        font-size: 1.3125rem;
        line-height: 1.6;
    }
    Button {
        background: #a02828;
        color: #ffffff;
        letter-spacing: 0.03rem;
        padding: 10px 25px;
        font-weight: 600;
        font-size: 12px;
        letter-spacing: 1px;
        border-radius: 4px;
        border: none;
        text-transform: uppercase;
    }
}
.eventForm {
    label {
        opacity: .8;
        color: #fff;
    }
    p {
        opacity: .8;
        color: #fff;
    }
    Button {
        color: #fff;
        background: #c83232;
        border: 1px solid #c83232;
        padding: 8px 20px;
        border-radius: 4px;
        margin-top: 30px;
        font-size: 12px;
        letter-spacing: 1px;
        border: none;
        text-transform: uppercase;
    }
}
.contactDetails {
    text-align: center;
    margin-top: 45px;
    h6 {
        letter-spacing: .08em;
        margin-bottom: 0.25rem;
        line-height: 1.55;
        font-size: 13px;
        margin-top: 1.2rem;
        text-transform: uppercase;
        color: #fff;
        opacity: .8;
        font-weight: 400;
    }
    a {
        font-weight: 300;
        line-height: 1.45;
        letter-spacing: 1px;
        text-decoration: none!important;
        color: #fff;
        font-size: 1.1875rem;
    }
    p {
        color: rgb(255, 255, 255);
        line-height: 1.4;
        margin-top: 10px;
        font-weight: 500;
    }
}
.contactMainHeading {
    text-align: center;
    h2 {
        font-weight: 600!important;
        line-height: 1.35;
        margin-bottom: 1rem;
        font-size: 1.9375rem;
        color: #fff;
        opacity: .8;
        margin-top: 4rem;
    }
    p {
        font-size: 1.1875rem!important;
        color: #fff;
        margin-bottom: 2rem;
    }
}*/