.textColumn {
    h1 {
        margin-top: 0px;
        font-size: 30px;
        font-weight: 700;
        color: #222222 !important;
    }
    p {
        font-size: 17px !important;
        color: #3b3b3b !important;
        margin-bottom: 30px;
        line-height: 1.8;
    }
    button {
        font-size: 16px !important;
        padding: 12px 20px 11px;
        text-shadow: rgb(104, 104, 104) 0px 1px 0px;
        color: #fff;
        background-color: #02adea;
        font-weight: 800;
        border: 1px solid #02a3de;
        box-shadow: inset 0px 1px 0px rgba(255,255,255,0.2);
    }
}