
.textWrap {
    .socialPost {
        p {
            padding: 10px 20px 10px 0px;
            i {
                font-size: 31px;
            }
        }
        display: flex;
    }
    h3 {
        color: #f0f0f0;
    }
    li {
        color: #f0f0f0;
    }
    p {
        color: #ffffffd6;
        font-weight: 500;
        letter-spacing: 0.03rem!important;
        font-size: 18px;
        overflow-wrap: break-word;
        font-family: "Roboto", sans-serif !important;
        line-height: 1.5;
        overflow-x: hidden;
        -webkit-font-smoothing: antialiased;
        strong {
            font-weight: 600;
            color: #ffeeb8;
            font-size: 16px;
            letter-spacing: 0.02rem;
            font-family: "Roboto",sans-serif!important;
            line-height: 1.7;
        }
    }
    ul{
        li {
            color: #adb3ba;
            font-size: 16px;
            overflow-wrap: break-word;
            font-family: "Roboto",sans-serif!important;
            line-height: 1.7;
            overflow-x: hidden;
            -webkit-font-smoothing: antialiased;
            list-style-position: inside !important;
            list-style-type: disclosure-closed;
            margin-left: -2%;
        }
    }
    
    h4 {
        font-size: 24px;
        font-weight: 700;
        padding: 15px 0px;
        letter-spacing: 0.03rem;
        font-family: "Roboto",sans-serif!important;
        line-height: 1.7;
        color: #ffffff;
    }
}
.readMoreSection {
    div {
        padding-bottom: 2%;
    }
}
.blogWrap {
    padding: 5% 0% 2% 0%;
}
.commentReply {
    font-weight: 600!important;
    letter-spacing: 0.03rem!important;
    color: #000000!important;
    font-size: 13px!important;
    padding: 5px 13px!important;
    border-radius: 27px!important;
    background: #f0f0f0!important;
    width: 10%!important;
    text-align: center!important;
    cursor: pointer!important;
}
.commentReply:hover {
    color: #ffffff!important;
    border-radius: 27px!important;
    background: #808080!important;
    padding: 5px 13px!important;
}
.heading1 {
    font-size: 35px;
    line-height: 1.1;
    font-weight: 600;
    padding-bottom: 5px;
    color: #ffffff;
    letter-spacing: 0.03rem;
}
.heading1:hover {
    cursor: pointer;
}
.heading3 {
    font-size: 22px;
    line-height: 26px;
    font-weight: 600;
    padding-bottom: 5px;
    color: #e3cc80;
    padding-top: 5px;
}
.heading3:hover {
    cursor: pointer;
}
.description {
    display: block;
    color: #000000;
    margin: 0 0 25px;
    column-count: 1;
    column-gap: 48px;
    font-size: 15px;
    line-height: 1.4;
    font-weight: 600;
    padding-top: 10px;
}
.popularSection {
    .smallImage {
        position: absolute;
        right: 5%;
        img {
            border-radius: 15px;
            cursor: pointer;
        }
    }
    padding-left: 50px;
    padding-right: 25px;
    .popular {
        font-size: 24px;
        padding-bottom: 5px;
        letter-spacing: 0.03rem;
        color: #ffffff;
        font-family: "Poppins",sans-serif!important;
        font-weight: 700;
        line-height: 1.4;
    }
    .heading3 {
        font-size: 20px;
        color: #e3cc80;
        letter-spacing: 0.03rem;
        font-family: "Poppins",sans-serif!important;
        font-weight: 700;
        line-height: 1.4;
        margin: 5px 0;
    }
    .heading3:hover {
        cursor: pointer;
    }
    .description {
        display: block;
        color: #000000;
        margin: 0 0 15px;
        column-count: 1;
        column-gap: 48px;
        font-size: 15px;
        line-height: 1.4;
        font-weight: 600;
    }
    
    .popDev {
        display: inline-flex;
        border-bottom: 1px solid #e4d1d12b;
        margin-bottom: 5px;
        flex-wrap: wrap;
        align-items: center;
        padding-bottom: 15px;
        .popTextRight {
            width: 73%;
        }
    }
    .popTextLeft {
        margin-left: 15px;
    }
}
.postSidebarHeading {
    font-size: 20px;
    color: #ffffff;
    font-family: "Poppins",sans-serif!important;
    font-weight: 700;
    line-height: 1.4;
}
.postSidebarPost {
    font-family: "Poppins",sans-serif!important;
    font-weight: 700;
    line-height: 1.4;
    font-size: 15px;
    color: #e3cc80;
}
.postSide {
    img {
        border-radius: 15px;
    }
}
.postImg {
    img {
        border-radius: 15px;
    }
}

.popularSectionSec {
    .smallImage {
        img {
            border-radius: 5px;
            cursor: pointer;
        }
    }
    padding-left: 25px;
    padding-right: 50px;
    .popular {
        font-size: 22px;
        padding-bottom: 15px;
        font-weight: 600;
        letter-spacing: 0.03rem;
        color: #ffffff;
    }
    .heading3 {
        font-size: 22px;
        line-height: 26px;
        font-weight: 600;
        color: #e3cc80;
    }
    /*.heading3:hover {
        color: #2f3ce2;
    }*/
    .description {
        display: block;
        color: #000000;
        margin: 0 0 15px;
        column-count: 1;
        column-gap: 48px;
        font-size: 15px;
        line-height: 1.4;
        font-weight: 600;
    }
    .popDev {
        display: inline-flex;
        border-bottom: 1px solid #e4d1d12b;
        margin-bottom: 15px;
        padding-bottom: 15px;
    }
    .popTextLeft {
        margin-left: 15px;
    }
}
.mainHeading {
    color: #ffffff;
    text-align: center;
    font-size: 36px!important;
    line-height: 1.2!important;
    font-weight: 700!important;
    margin-bottom: 20px;
    letter-spacing: 0.03rem;
    padding-bottom: 15px;
    border-bottom: 2px dotted #8080805e;
}
.descriptionDate {
    color: #1414db;
    letter-spacing: 0.03rem;
    font-size: 14px;
    display: block;
    margin: 0 0 -2px;
    -moz-column-count: 1;
    column-count: 1;
    grid-column-gap: 48px;
    -moz-column-gap: 48px;
    column-gap: 48px;
    line-height: 1.4;
    font-weight: 600;
    span {
        font-size: 14px;
        letter-spacing: 0.03rem;
        color: #ffffffd6;
        font-weight: 600;
        i {
            margin-right: 5px;
        }
    }
    span:hover {
        cursor: pointer;
    }
}
.postWrap {
    button {
        border-radius: 40px;
        font-size: 16px;
        letter-spacing: 0.05rem;
        background: rgb(255, 255, 255);
        border: 1px solid rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        padding: 7px 20px;
    }
}

/* Mobile Media Query */
@media only screen and (max-width: 600px) {
    .commentReply {
        width: 50%!important;
    }
    .blogWrap {
        padding: 2% 3% 0% 3%;
    }
    .popularSection {
        padding-left: 15px;
        padding-right: 15px;
    }
  }