.textWrap {
    p {
        color: #292b2e;
        font-weight: 500;
        font-size: 18px;
        letter-spacing: 0rem;
        overflow-wrap: break-word;
        background-color: #fff;
        font-family: "Roboto", sans-serif !important;
        line-height: 1.5;
        overflow-x: hidden;
        -webkit-font-smoothing: antialiased;
        text-align: justify;
        strong {
            font-weight: 600;
            color: #595959;
            font-size: 16px;
            letter-spacing: 0.02rem;
            font-family: "Roboto",sans-serif!important;
            line-height: 1.7;
        }
    }
    li {
        color: #707a88;
        font-size: 16px;
        overflow-wrap: break-word;
        background-color: #fff;
        font-family: "Roboto",sans-serif!important;
        line-height: 1.7;
        overflow-x: hidden;
        -webkit-font-smoothing: antialiased;
        text-align: justify;
    }
    h4 {
        font-size: 24px;
        font-weight: 700;
        padding: 15px 0px;
        letter-spacing: 0.03rem;
        font-family: "Roboto",sans-serif!important;
        line-height: 1.7;
    }
}
.blogWrap {
    padding: 5% 0% 2% 0%;
}
.commentReply {
    font-weight: 600!important;
    letter-spacing: 0.03rem!important;
    color: #000000!important;
    font-size: 13px!important;
    padding: 5px 13px!important;
    border-radius: 27px!important;
    background: #f0f0f0!important;
    width: 10%!important;
    text-align: center!important;
    cursor: pointer!important;
}
.commentReply:hover {
    color: #ffffff!important;
    border-radius: 27px!important;
    background: #808080!important;
    padding: 5px 13px!important;
}
.heading1 {
    font-size: 35px;
    line-height: 1.1;
    font-weight: 600;
    padding-bottom: 5px;
}
.heading1:hover {
    color: rgb(238, 47, 76);
    cursor: pointer;
}
.heading3 {
    font-size: 22px;
    line-height: 26px;
    font-weight: 600;
    padding-bottom: 5px;
}
.heading3:hover {
    color: #ee2f4c;
    cursor: pointer;
}
.description {
    display: block;
    color: #000000;
    margin: 0 0 25px;
    column-count: 1;
    column-gap: 48px;
    font-size: 15px;
    line-height: 1.4;
    font-weight: 600;
    padding-top: 10px;
}
.popularSection {
    .smallImage {
        position: absolute;
        right: 5%;
        img {
            border-radius: 15px;
            cursor: pointer;
        }
    }
    padding-left: 50px;
    padding-right: 25px;
    .popular {
        font-size: 24px;
        padding-bottom: 30px;
        letter-spacing: 0.03rem;
        color: #203656;
        font-family: "Poppins",sans-serif!important;
        font-weight: 700;
        line-height: 1.4;
    }
    .heading3 {
        font-size: 20px;
        color: #203656;
        font-family: "Poppins",sans-serif!important;
        font-weight: 700;
        line-height: 1.4;
        margin: 5px 0;
    }
    .heading3:hover {
        color: rgb(238, 47, 76);
        cursor: pointer;
    }
    .description {
        display: block;
        color: #000000;
        margin: 0 0 15px;
        column-count: 1;
        column-gap: 48px;
        font-size: 15px;
        line-height: 1.4;
        font-weight: 600;
    }
    
    .popDev {
        display: inline-flex;
        border-bottom: 1px solid #e4d1d182;
        margin-bottom: 20px;
        flex-wrap: wrap;
        align-items: center;
        padding-bottom: 15px;
        .popTextRight {
            width: 73%;
        }
    }
    .popTextLeft {
        margin-left: 15px;
    }
}
.postSidebarHeading {
    font-size: 20px;
    color: #562030;
    font-family: "Poppins",sans-serif!important;
    font-weight: 700;
    line-height: 1.4;
}
.postSidebarPost {
    font-family: "Poppins",sans-serif!important;
    font-weight: 700;
    line-height: 1.4;
    font-size: 15px;
    color: #203656;
}
.postSide {
    img {
        border-radius: 15px;
    }
}
.postImg {
    img {
        border-radius: 15px;
    }
}

.popularSectionSec {
    .smallImage {
        img {
            border-radius: 5px;
            cursor: pointer;
        }
    }
    padding-left: 25px;
    padding-right: 50px;
    .popular {
        font-size: 22px;
        padding-bottom: 15px;
        font-weight: 600;
        letter-spacing: 0.03rem;
        color: #000000;
    }
    .heading3 {
        font-size: 22px;
        line-height: 26px;
        font-weight: 600;
    }
    .description {
        display: block;
        color: #000000;
        margin: 0 0 15px;
        column-count: 1;
        column-gap: 48px;
        font-size: 15px;
        line-height: 1.4;
        font-weight: 600;
    }
    .popDev {
        display: inline-flex;
        border-bottom: 1px solid #e4d1d182;
        margin-bottom: 13px;
    }
    .popTextLeft {
        margin-left: 15px;
    }
}
.mainHeading {
    color: #000000;
    text-align: center;
    font-size: 36px!important;
    line-height: 1.2!important;
    font-weight: 700!important;
    margin-bottom: 20px;
    letter-spacing: 0.03rem;
    padding-bottom: 15px;
    border-bottom: 2px dotted #8080805e;
}
.descriptionDate {
    color: #1414db;
    letter-spacing: 0.03rem;
    font-size: 14px;
    display: block;
    margin: 0 0 25px;
    -moz-column-count: 1;
    column-count: 1;
    grid-column-gap: 48px;
    -moz-column-gap: 48px;
    column-gap: 48px;
    line-height: 1.4;
    font-weight: 600;
    span {
        font-size: 14px;
        letter-spacing: 0.03rem;
        color: #1a5cdf;
        font-weight: 600;
        i {
            margin-right: 5px;
        }
    }
    span:hover {
        color: rgb(238, 47, 76);
        cursor: pointer;
    }
}

/* Mobile Media Query */
@media only screen and (max-width: 600px) {
    .blogWrap {
        padding: 2% 3% 0% 3%;
    }
    .popularSection {
        padding-left: 15px;
        padding-right: 15px;
    }
  }