.seriesMain {
    
    video {
        box-shadow: 0px -65px #000000b8;
    }
}
.videoText {
    position: absolute!important;
    top: 30%;
    left: 5%;
    h1 {
        font-weight: 600;
        font-size: 30px;
        color: #ffffff;
    }
    h5 {
        color: #ffffff;
        font-size: 20px;
        letter-spacing: 0.03rem;
        margin-bottom: 25px;
        margin-top: 10px;
        font-weight: 500;
    }
    button {
        background: #c83232;
        border: 1px solid #c83232;
        padding: 7px 30px;
        margin-right: 15px;
        font-weight: 600;
        font-size: 18px;
        i {
            margin-right: 10px;
        }
    }
}
.videoTextSeriesModal {
    position: absolute!important;
    top: 22%;
    left: 5%;
    width: 100%;
    h1 {
        font-weight: 600;
        font-size: 30px;
        color: #ffffff;
    }
    h5 {
        color: #ffffff;
        font-size: 20px;
        letter-spacing: 0.03rem;
        margin-bottom: 25px;
        margin-top: 10px;
        font-weight: 500;
    }
    button {
        background: #c83232;
        border: 1px solid #c83232;
        padding: 2px 20px;
        margin-right: 15px;
        font-weight: 600;
        font-size: 18px;
        i {
            margin-right: 10px;
        }
    }
}
.seriesModal {
    background-color: #181818;
}
.seriesModalButtonI {
    margin-top: 20px;
    i {
        border-radius: 100%;
        background: #141414;
        color: #ffffff;
        padding: 10px 13px;
        margin-right: 20px;
    }
}
.hoverBannerCard {
    // padding-bottom: 30px;
    // margin-top: -7%;
    h3 {
        color: #ffffff;
        z-index: 9999;
        opacity: 0.9;
        font-size: 22px;
        font-weight: 600;
        letter-spacing: 0.03rem;
    }
}
.overlay {
    position: absolute;
    bottom: -15%;
    left: 0;
    width: 100%;
    height: 20%;
    // background: #010000a1;
    // transition: background 32.5s ease;
}
.bannerCardSlider {
    padding-bottom: 45px;
    h3 {
        color: #ffffff;
        opacity: 0.9;
        font-size: 22px;
        font-weight: 600;
        letter-spacing: 0.03rem;
    }
}

.cardBottomIcon {
    background: #141414;
}
.showImage {
    position: absolute;
    z-index: 999;
    transition: transform 0.2s;
    margin: 0px -10px;
    padding: 0;
    img {
        transition: width 2s;
        transition: height 2s;
        border-radius: 5px;
    }
    .cardBottomIcon {
        display: none;
    }
}
.showImage:hover {
    transform: scale(1.3);
    img {
        width: 260px!important;
        height: 135px!important;
        border-radius: 5px 5px 0px 0px;
        //transform: scale(1.5)!important; 
        //transition: all .5s!important; 
        //transform: scale(1.1);
    }
    .cardBottomIcon {
        i {
            color: #ffffff;
            border: 1px solid #808080;
            background: #000000;
            padding: 6px 8px;
            margin: 2px;
            border-radius: 100%;
        }
        width: 237px;
        margin-left: 0;
        padding: 10px 4px;
        display: flex;
        margin-top: -6px;
        border-radius: 0px 0px 5px 5px;
    }
    position: absolute;
    z-index: 9999!important;
}


.cardSliderForDesktop {
    display: block;
    z-index: 9;
}
.swiperHeight{
    height: 250px !important;
}
.selectedEpisodeSeries:hover i{
    display: block;
}
.selectedEpisodeSeries {
    img {
        margin-top: 10px!important;
    }
    i {
        display: none;
        position: absolute;
        left: 23%;
        top: 36%;
        font-size: 22px;
        font-weight: 500;
        border: 1px solid #ffffff;
        padding: 10px 14px;
        border-radius: 100%;
        background: #00000033!important;
    }
    background: #333;
    margin: 30px 0px;
    padding: 25px 20px 5px 20px;
    border-radius: 4px;
}