.couponBgGray {
    background-color: #191c21;
    margin: 10px 0px;
    padding: 20px;
}
.couponWidth {
    margin: auto;
    width: 875px;
    max-width: 100%;
    p {
        color: #ffffff;
        opacity: 0.8;
    }
    button {
        background-color: #c83232;
        border: 1px solid #c83232;
        color: #ffffff;
    }
    button:hover {
        background-color: #c83232;
        border: 1px solid #c83232;
        color: #ffffff;
    }
}
