.customRegBtn {
    button {
        letter-spacing: .03rem;
        font-size: 22px;
        padding: 15px 25px!important;
        border-radius: 50px;
        background: #fff;
        border: 1px solid #fff;
        color: #000;
        font-weight: 600;
        margin: 30px 0;
        width: 35%;
        max-width: 100%;
    }
    button:hover {
        background: #fff;
        border: 1px solid #fff!important;
        color: #000;
    }
    button:active {
        background: #fff;
        border: 1px solid #fff!important;
        color: #000;
    }
    button:focus {
        background: #fff;
        border: 1px solid #fff!important;
        color: #000;
    }
}
.eventBannerText {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
}
.eventDesc {
    padding: 45px 0px;
    width: 900px;
    max-width: 100%;
    margin: auto;
    text-align: center;
}
.eventForm {
    padding: 0px 0px;
    width: 900px;
    max-width: 100%;
    margin: auto;
}
.eventBanner {
    img {
        // opacity: .4;
    }
}
.eventBannerText {
    h1 {
        font-size: 35px;
        line-height: 35px;
        font-weight: 600;
        color: #fff;
        padding: 5px 0 5px;
        text-transform: uppercase;
    }
    h3 {
        letter-spacing: 0.03rem;
        color: #ffffff;
        font-size: 24px;
        font-weight: 600;
        padding-bottom: 20px;
        opacity: 0.9;
    }
    h5 {
        font-size: 30px;
        color: #e6a851;
        line-height: 35px;
        font-weight: 600;
    }
    h6 {
        font-size: 18px;
        font-weight: 600;
        color: #fff;
        opacity: .8;
        line-height: 45px;
    }
    Button {
        letter-spacing: .03rem;
        font-size: 22px;
        padding: 15px 25px!important;
        border-radius: 50px;
        background: #fff;
        border: 1px solid #fff;
        color: #000;
        font-weight: 600;
        margin: 30px 0;
        width: 20%;
        max-width: 100%;
    }
}
.eventDesc {
    p {
        font-size: 17px;
        color: #fff;
        opacity: 1;
        line-height: 25px;
        letter-spacing: 1px;
        text-align: center;
    }
    h2 {
        font-size: 30px!important;
    }
}
.eventForm {
    label {
        opacity: .8;
        color: #fff;
    }
    p {
        opacity: .8;
        color: #fff;
    }
    Button {
        color: #fff;
        background: #c83232;
        border: 1px solid #c83232;
        padding: 8px 20px;
        border-radius: 4px;
        margin-top: 30px;
        font-size: 12px;
        letter-spacing: 1px;
        border: none;
        text-transform: uppercase;
    }
}
.eventSuccess {
    h2 {
        font-weight: 600;
        line-height: 45px;
        color: #fff;
        opacity: .9;
        text-align: center;
        width: 100%;
        font-size: 35px;
        margin-bottom: 5px;
    }
    Button {
        border-radius: 4px;
        background: #c83232;
        color: #fff;
        padding: 8px 20px;
        border: none;
    }
    p {
        font-size: 20px;
        color: #fff;
        opacity: .7;
        line-height: 25px;
        margin-top: 10px;
    }
}
@media only screen and (max-width: 667px) and (min-width: 375px) {
    .eventBannerText {
        position: absolute;
        width: 100%;
        text-align: center;
        top: 32%!important;
    }
} 
@media only screen and (max-width: 740px) and (min-width: 360px) {
    .eventBannerText {
        position: absolute;
        width: 100%;
        text-align: center;
        top: 32%!important;
    }
} 
@media only screen and (max-width: 480px) and (min-width: 376px) { 
    .eventBannerText {
        position: absolute;
        width: 100%;
        text-align: center;
        top: 23%!important;
    }
} 
@media only screen and (max-width: 600px) {
    .eventDesc {
        h2 {
            font-size: 20px!important;
        }
        p {
            font-size: 16px!important;
        }
    }
.eventBannerDetails {
    margin-top: 0%;
}
.customRegBtn {
    button {
        letter-spacing: .03rem;
        font-size: 22px;
        padding: 15px 25px!important;
        border-radius: 50px;
        background: #fff;
        border: 1px solid #fff;
        color: #000;
        font-weight: 600;
        margin: 30px 0;
        width: 60%;
        max-width: 100%;
    }
}
.eventBannerText {
    h1 {
        font-size: 20px;
        line-height: 1.2rem;
        font-weight: 600;
        color: #fff;
        padding: 1px 0 0px;
        text-transform: uppercase;
    }
    h5 {
        font-size: 20px;
        color: #e6a851;
        line-height: 1.2rem;
        font-weight: 600;
        margin-bottom: 5px;
        margin-top: 5px;
    }
}
.eventBannerText {
    h6 {
        font-size: 18px;
        font-weight: 600;
        color: #fff;
        opacity: .8;
        line-height: 35px;
    }
}

}

.martin {
    text-align: center;
    button {
        font-weight: 600;
        background: #c83232;
        border-color: #c83232;
        padding: 5px 25px;
        font-size: 20px;
        letter-spacing: 0.03rem;
        display: inline-grid;
    }
    button:hover {
        font-weight: 600;
        background: #c83232;
        border-color: #c83232;
        padding: 5px 25px;
        font-size: 20px;
        letter-spacing: 0.03rem;
        display: inline-grid;
    }
    span {
        font-size: 12px;
    }
    img {
        border-radius: 4px;
        cursor: pointer;
    }
}


.martinSection {
    .martinTitleSection {
        text-align: center;
        h1 {
            color: #e6a851;
            font-size: 30px;
            font-weight: 700;
            line-height: 40px;
            letter-spacing: 0.7px;
        }
        p {
            text-align: center;
            color: #ffffff;
            font-size: 20px;
            font-weight: 600;
            letter-spacing: 0.03rem;
            padding: 25px 0px;
        }
    }
    .walseSection {
        h2 {
            font-size: 30px!important;
            color: #ffffff;
            letter-spacing: 0.03rem;
            padding-bottom: 20px;
        }
        p {
            letter-spacing: 0.03rem;
            color: #ffffff;
            opacity: 0.8;
            font-size: 17px;
            line-height: 1.7rem;
        }
    }
}
.mazorTake {
        padding-bottom: 10px;
        font-size: 30px!important;
        strong {
            color: #e6a851!important;
        }
}
.howToJoinWalse {
    button {
        background: #c83232;
        padding: 15px 80px;
        font-size: 1.1rem;
        letter-spacing: 0.03rem;
        border: 1px solid #c83232;
        font-weight: 600;
        border-radius: .5rem;
        line-height: 25px;
        text-transform: uppercase;
    }
    button:hover {
        background: #c83232;
        padding: 15px 80px;
        font-size: 1.1rem;
        letter-spacing: 0.03rem;
        border: 1px solid #c83232;
        font-weight: 600;
        border-radius: .5rem;
        line-height: 25px;
        text-transform: uppercase;
    }
}

@media only screen and (max-width: 600px) {
    .phoneTitle {
        display: none;
    }
    .mazorTake {
        padding-bottom: 10px;
        font-size: 20px!important;
        strong {
            color: #e6a851!important;
            font-size: 20px;
        }
    }
    .eventBannerText {
        h3 {
            font-size: 16px;
            padding-bottom: 0px;
        }
        h1 {
            font-size: 20px;
            margin-top: 5px;
        }
    }
    .martinSection {
        .martinTitleSection {
            p {
                padding: 0px 0px 15px 0px;
                font-size: 16px;
            }
            h1 {
                font-size: 20px;
            }
        }
        .walseSection {
            h2 {
                padding-top: 20px;
                padding-bottom: 10px;
                font-size: 20px!important;
                text-align: center;
            }
            p {
                font-size: 16px;
                text-align: center;
            }
        }
    }    
    .howToJoinWalse {
        button {
            padding: 15px 25px;
            font-size: 1.2rem;
        }
    }
  }