.resetScreen {
    input {
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 0.05rem;
        padding: 13px 15px;
        border-radius: 10px;
        margin: 0px 10px 0px 0px;
        width: 100% !important;
        background: #ffffff !important;
        color: #4b4b4b !important;
        border: 1px solid #a1abb8 !important;
    }
    label {
        font-size: 12px;
        letter-spacing: 0.03rem;
        color: #000000b8;
    }
    P {
        font-size: 13px;
        letter-spacing: 0.03rem;
        color: #000000b8;
    }
    button {
        background: #c83232;
        border: 1px solid #c83232;
        padding: 10px;
    }
    .loginButton {
        font-size: 18px;
        padding: 12px 30px !important;
        border-radius: 12px;
        background: #0071e3;
        border: 1px solid #0071e3;
        color: #ffffff;
        font-weight: 600;
        margin: 15px 0px 5px 0px;
        width: 100%;
        letter-spacing: 0.04rem;
    }
    .loginButton:hover {
        background: #0071e3;
        border: 1px solid #0071e3!important;
        color: #ffffff;
    }
    .loginButton:active {
        background: #0071e3;
        border: 1px solid #0071e3!important;
        color: #ffffff;
    }
    .loginButton:focus {
        background: #0071e3;
        border: 1px solid #0071e3!important;
        color: #ffffff;
    }
}