.referMainContainer{
    padding: 80px 0px;
    background-color: #000000;
    border-top: 0.3px solid #80808078;
    border-bottom: 0.3px solid #80808078;
}
.referralFormSection {
    h1 {
        text-align: left;
        font-size: 3rem;
        line-height: 4.75rem;
        font-weight: 400;
        color: #ffffff;
        margin-bottom: 5px;
        text-transform: none;
        letter-spacing: normal;
    }
    h3 {
        font-size: 25px !important;
        margin-bottom: 15px;
        font-weight: 500;
        letter-spacing: 0.03rem;
        line-height: 40px;
        color: #e3cc80;
        text-align: left;
    }
    p {
        margin-bottom: 50px;
        line-height: 40px;
        text-align: left;
        font-size: 28px !important;
        color: #ffffff;
        letter-spacing: 0.03rem;
        font-weight: 500;
    }
    input {
        font-size: 20px;
        font-weight: 600;
        letter-spacing: .05rem;
        padding: 15px!important;
        border-radius: 10px;
        margin: 0 10px 0 0;
        width: 100%;
        background: #323644;
        color: #fff;
        border: 1px solid #323644;
    }
    textarea {
        font-size: 20px;
        font-weight: 600;
        letter-spacing: .05rem;
        padding: 15px!important;
        border-radius: 10px;
        margin: 0 10px 0 0;
        width: 100%;
        background: #323644;
        color: #fff;
        border: 1px solid #323644;
    }
    select{
        font-size: 18px !important;
        letter-spacing: 0.05rem !important;
        padding: 15px !important;
        border-radius: 10px !important;
        margin: 0 10px 0 0 !important;
        width: 100% !important;
        background: #323644 !important;
        color: #ffffff7a !important;
        border: 1px solid #323644 !important;
    }
    button {
        letter-spacing: .03rem;
        font-size: 22px;
        padding: 15px 40px;
        border-radius: 50px;
        background: #fff;
        border: 1px solid #fff;
        color: #000;
        font-weight: 600;
        margin: 45px 10px 30px 0;
        width: 45%;
    }
    button:hover {
        border: 1px solid #ffffff!important;
        background: #ffffff;
        color: #000000!important;
    }
    button:active {
        border: 1px solid #ffffff!important;
        background: #ffffff;
        color: #000000!important;
    }
    button:focus {
        border: 1px solid #ffffff!important;
        background: #ffffff;
        color: #000000!important;
    }
    .referAlreadyRegister {
        align-self: baseline;
        text-align: center;
        a {
            padding-right: 15px;
            border-right: 2px solid #ffffff;
            display: table-cell;
            color: #ffffff !important;
            font-size: 22px;
            line-height: 1;
            text-decoration: underline !important;
        }
    }
}
.referProgram {
    .referheading {
        text-align: center;
        h2 {
            font-size: 45px !important;
            letter-spacing: 0.03rem!important;
            line-height: 4.75rem!important;
            font-weight: 400;
            margin-top: 0;
        }
        p {
            text-align: center;
            letter-spacing: 0.03rem;
            font-size: 38px !important;
            margin-top: 20px !important;
            color: #ffffff;
            opacity: 0.8;
            line-height: 45px !important;
        }
    }
    .referPlan {
        padding: 40px 20px;
        color: #ffffff;
        opacity: 0.8;
        text-align: center;
        border: 1px solid;
        height: 190px;
        margin: 40px 20px;
        p {
            letter-spacing: 0.03rem;
            font-size: 18px;
        }
        i {
            font-size: 45px;
            color: #ffffff;
            margin-bottom: 5%;
        }
    }
}
.refBannerMobile {
    display: none;
    background-position: center;
    background-size: cover;
}
.refBannerDesktop {
    display: block;
    background-position: center;
    background-size: cover;
}

/* mobile  */

@media only screen and (max-width: 480px) and (min-width: 320px) { 
    .refBannerDesktop {
        display: none;
    }
    .refBannerMobile {
        display: block;
        height: 580px!important;
    }
    .referMainContainer{
        padding: 30px 10px;
        background-color: #000000;
    }   
    .referralFormSection {
        h1 {
            font-size: 2.25rem;
            line-height: 2.5rem;
        }
        h3 {
            font-size: 22px !important;
            line-height: 35px;
        }
        p {
            font-size: 22px !important;
            line-height: 30px;
        }
        button {
            width: 60%;
        }
    }
    .referProgram {
        .referheading {
            h2 {
                font-size: 2rem !important;
                line-height: 2.9rem !important;
            }
            p {
                font-size: 22px !important;
                margin-top: 25px !important;
            }
        }
    }
}