.eventBannerDetails {
    /*margin-top: -250px;*/
}
.eventBannerText {
    /*position: absolute;
    top: 40%;*/
    width: 100%;
    text-align: center;
    margin: 0;
}
.eventDesc {
    padding: 45px 0px;
    width: 900px;
    max-width: 100%;
    margin: auto;
    text-align: center;
}
.eventForm {
    padding: 0px 0px;
    width: 900px;
    max-width: 100%;
    margin: auto;
}
/*.eventBanner {
    img {
        opacity: .4;
    }
}*/
.eventBannerText {
    h1 {
        font-size: 35px;
        line-height: 35px;
        font-weight: 600;
        color: #fff;
        padding: 5px 0 25px;
        text-transform: uppercase;
    }
    h5 {
        font-size: 30px;
        color: #e6a851;
        line-height: 35px;
        font-weight: 600;
    }
    h6 {
        font-size: 18px;
        font-weight: 600;
        color: #fff;
        opacity: .8;
        line-height: 45px;
    }
    Button {
        letter-spacing: 0.03rem;
        font-size: 22px;
        padding: 15px 25px;
        border-radius: 50px;
        background: #ffffff;
        border: 1px solid #ffffff;
        color: #000000;
        font-weight: 600;
        margin: 30px 0px 30px 0px;
        width: 35%;
        max-width: 100%;
    }
    Button:active {
        background: #ffffff;
        border: 1px solid #ffffff!important;
        color: #000000;
    }
    Button:focus {
        background: #ffffff;
        border: 1px solid #ffffff!important;
        color: #000000;
    }
    Button:hover {
        background: #ffffff;
        border: 1px solid #ffffff!important;
        color: #000000;
    }
}
.eventDesc {
    p {
        font-size: 17px;
        color: #fff;
        opacity: 1;
        line-height: 25px;
        letter-spacing: 1px;
        text-align: center;
    }
}
.eventForm {
    label {
        opacity: .8;
        color: #fff;
    }
    p {
        opacity: .8;
        color: #fff;
    }
    Button {
        color: #fff;
        background: #c83232;
        border: 1px solid #c83232;
        padding: 8px 20px;
        border-radius: 4px;
        margin-top: 30px;
        font-size: 12px;
        letter-spacing: 1px;
        border: none;
        text-transform: uppercase;
    }
}
.eventSuccess {
    h2 {
        font-weight: 600;
        line-height: 45px;
        color: #fff;
        opacity: .9;
        text-align: center;
        width: 100%;
        font-size: 35px;
        margin-bottom: 5px;
    }
    Button {
        border-radius: 4px;
        background: #c83232;
        color: #fff;
        padding: 8px 20px;
        border: none;
    }
    p {
        font-size: 20px;
        color: #fff;
        opacity: .7;
        line-height: 25px;
        margin-top: 10px;
    }
}

@media only screen and (max-width: 600px) {
.eventBannerText {
    Button {
        width: 100%;
    }
    width: 100%;
    text-align: center;
    top: 7%;
}
.eventBannerText {
    h1 {
        font-size: 20px;
        line-height: 1.2rem;
        font-weight: 600;
        color: #fff;
        padding: 1px 0 0px;
        text-transform: uppercase;
    }
    h5 {
        font-size: 20px;
        color: #e6a851;
        line-height: 1.2rem;
        font-weight: 600;
        margin-bottom: 0px;
    }
}
.eventBannerText {
    h6 {
        font-size: 18px;
        font-weight: 600;
        color: #fff;
        opacity: .8;
        line-height: 35px;
    }
}

}

@media only screen and (max-width: 480px) and (min-width: 320px) {
    .eventBannerDetails {
        /*margin-top: -250px;*/
        padding: 0!important;
    }
    .eventBannerText {
        h1 {
            font-size: 35px;
            line-height: 35px;
            font-weight: 600;
            color: #fff;
            padding: 5px 0 25px;
            text-transform: uppercase;
        }
        h5 {
            font-size: 30px;
            color: #e6a851;
            line-height: 35px;
            font-weight: 600;
        }
        h6 {
            font-size: 18px;
            font-weight: 600;
            color: #fff;
            opacity: .8;
            line-height: 45px;
        }
        Button {
            letter-spacing: 0.03rem;
            font-size: 18px;
            padding: 13px 25px;
            border-radius: 50px;
            background: #ffffff;
            border: 1px solid #ffffff;
            color: #000000;
            font-weight: 600;
            margin: 30px 10px 30px 0px;
            width: 100%;
            max-width: 100%;
        }
        Button:hover {
            letter-spacing: 0.03rem;
            font-size: 18px;
            padding: 13px 25px;
            border-radius: 50px;
            background: #ffffff;
            border: 1px solid #ffffff;
            color: #000000;
            font-weight: 600;
            margin: 30px 10px 30px 0px;
            width: 100%;
            max-width: 100%;
        }
    }

}